@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Inter Tight", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-secondary;
}

.primary-btn {
  @apply btn btn-primary text-white lg:text-xl sm:text-lg text-base font-bold px-10 h-5 rounded-full;
}

.primary-btn-2 {
  @apply btn bg-primary font-[Manrope] hover:bg-primary text-white font-bold text-base;
}

.membership-card {
  @apply space-y-10 min-h-[590px] bg-white shadow-lg pt-8 pb-5 px-5 rounded-2xl flex flex-col justify-between;
}

.membership-btn {
  @apply btn btn-primary hover:btn-secondary hover:text-white w-full text-white;
}

.ant-table-wrapper .ant-table-thead > tr > th {
  @apply bg-[#F1FEFF];
}

.dashboard-menu {
  scrollbar-width: thin; /* Firefox: thinner scrollbar */
  scrollbar-color: #fff #fff; /* Firefox: thumb and track colors */
}

.dashboard-menu ::selection {
  background-color: transparent; /* Custom background color for radio group */
  color: black; /* Custom text color for radio group */
}

.banner-dot {
  color: white;
  opacity: 0.6;
}

.slick-active .banner-dot {
  opacity: 1;
}

.journey-slider-dot {
  color: black;
  opacity: 0.3;
}

.slick-active .journey-slider-dot {
  opacity: 1;
}

.journey-slider .slick-track {
  height: 500px;
}

.journey-slide {
  transform: scale(0.8);
  transition: 0.7s;
}

.slick-current .journey-slide {
  transform: scale(1);
  transition: 0.7s;
}

.journey-slider .slick-arrow {
  color: black;
}

.journey-slider .slick-arrow:hover {
  color: black;
}

.inclueded-list li p {
  @apply w-11/12;
}

.membership-list li p {
  @apply w-11/12;
}

.become-member-list li p {
  @apply w-11/12;
}

.membership-collapse-header {
  font-size: 20px;
  text-align: center;
  max-width: 500px;
  margin: auto;
  font-weight: 500;
}

@media all and (max-width: 1280px) {
  .journey-slider .slick-track {
    height: 400px;
  }
}
@media all and (min-width: 1280px) {
  .journey-slider .slick-track {
    height: 500px;
  }
}

@media all and (max-width: 1023px) {
  .journey-slider .slick-track {
    height: 330px;
  }
  .journey-slide {
    transform: scale(0.87);
    transition: 0.7s;
  }

  .slick-current .journey-slide {
    transform: scale(1);
    transition: 0.7s;
  }
}

@media all and (max-width: 768px) {
  .journey-slider .slick-track {
    height: 300px;
  }
  .journey-slide {
    transform: scale(0.87);
    transition: 0.7s;
  }

  .slick-current .journey-slide {
    transform: scale(1);
    transition: 0.7s;
  }
  .collapse-header {
    font-size: 18px;
    text-align: center;
  }
}

#payment-form {
  align-self: center;
  box-shadow: 0px 0px 0px 0.5px rgba(50, 50, 93, 0.1),
    0px 2px 5px 0px rgba(50, 50, 93, 0.1), 0px 1px 1.5px 0px rgba(0, 0, 0, 0.07);
  border-radius: 7px;
  margin-top: auto;
  margin-bottom: auto;
}

#payment-message {
  color: rgb(105, 115, 134);
  font-size: 16px;
  line-height: 20px;
  padding-top: 12px;
  text-align: center;
}

#payment-element {
  margin-bottom: 24px;
}

/* spinner/processing state, errors */
.spinner,
.spinner:before,
.spinner:after {
  border-radius: 50%;
}

.spinner {
  color: #ffffff;
  font-size: 22px;
  text-indent: -99999px;
  margin: 0px auto;
  position: relative;
  width: 20px;
  height: 20px;
  box-shadow: inset 0 0 0 2px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

.spinner:before,
.spinner:after {
  position: absolute;
  content: "";
}

.spinner:before {
  width: 10.4px;
  height: 20.4px;
  background: #0055de;
  border-radius: 20.4px 0 0 20.4px;
  top: -0.2px;
  left: -0.2px;
  -webkit-transform-origin: 10.4px 10.2px;
  transform-origin: 10.4px 10.2px;
  -webkit-animation: loading 2s infinite ease 1.5s;
  animation: loading 2s infinite ease 1.5s;
}

.spinner:after {
  width: 10.4px;
  height: 10.2px;
  background: #0055de;
  border-radius: 0 10.2px 10.2px 0;
  top: -0.1px;
  left: 10.2px;
  -webkit-transform-origin: 0px 10.2px;
  transform-origin: 0px 10.2px;
  -webkit-animation: loading 2s infinite ease;
  animation: loading 2s infinite ease;
}

/* dynamic payment methods annotation */
#dpm-annotation {
  align-self: center;
  color: #353a44;
  width: 30vw;
  min-width: 500px;
  line-height: 20px;
  margin-bottom: 20px;
}

#dpm-integration-checker {
  display: inline;
  color: #533afd;
}

/* Payment status page */
#payment-status {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 30px;
  width: 30vw;
  min-width: 500px;
  min-height: 380px;
  align-self: center;
  box-shadow: 0px 0px 0px 0.5px rgba(50, 50, 93, 0.1),
    0px 2px 5px 0px rgba(50, 50, 93, 0.1), 0px 1px 1.5px 0px rgba(0, 0, 0, 0.07);
  border-radius: 7px;
  padding: 40px;
  opacity: 0;
  animation: fadeInAnimation 1s ease forwards;
  margin-top: auto;
  margin-bottom: auto;
}

#status-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

#details-table {
  overflow-x: auto;
  width: 100%;
}

.TableContent {
  text-align: right;
  color: #6d6e78;
}

.TableLabel {
  font-weight: 600;
  color: #30313d;
}

#view-details {
  color: #0055de;
}

#retry-button {
  text-align: center;
  background: #0055de;
  color: #ffffff;
  border-radius: 4px;
  border: 0;
  padding: 12px 16px;
  transition: all 0.2s ease;
  box-shadow: 0px 4px 5.5px 0px rgba(0, 0, 0, 0.07);
  width: 100%;
}

@keyframes fadeInAnimation {
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 600px) {
  #dpm-annotation,
  #payment-status {
    width: 80vw;
    min-width: initial;
  }
}
